@model IEnumerable<SoloProjectMvc.ProductReference.Product>

@{
    ViewBag.Title = "Search";
}

<h2>Search</h2>
<p>
    @using (Html.BeginForm("Index", "Product", FormMethod.Get))
    {
    <p>
        @Html.TextBox("SearchString") 
        <input type="submit" value="Search" class="btn btn-default" />
    </p>
    }
</p>
<table class="table">
    <tr>
        <th>
            Image
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
    </tr>
@if (Request.IsAuthenticated && User.IsInRole("Admin"))
{ 
foreach (var item in Model)
{
    <tr>
        <td>
            <img class="img-thumbnail" src="@Url.Content(item.ImageLink)" alt="IMAGES" style="width:200px;height:250px" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            £@Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ProductId }, new {@class = "btn btn-default" }) |
            @Html.ActionLink("Details", "Details", new { id = item.ProductId }, new {@class = "btn btn-default" }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ProductId }, new { @class = "btn btn-default" })
        </td>
    </tr>
}
}
else if (Request.IsAuthenticated)
{
    foreach (var item in Model)
    {
        <tr>
            <td>
                <img class="img-thumbnail" src="@Url.Content(item.ImageLink)" alt="IMAGES" style="width:200px;height:250px" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.ProductId }, new {@class = "btn btn-default" })
            </td>
        </tr>
    }
}
else
{
    foreach (var item in Model)
    {
        <tr>
            <td>
                <img class="img-thumbnail" src="@Url.Content(item.ImageLink)" alt="IMAGES" style="width:200px;height:250px" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                £@Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.ProductId }, new {@class = "btn btn-default" })
            </td>
        </tr>
    }
}

</table>
